<div class="list-group">
{% if is_granted('ROLE_ADMIN') %}
    {{ include('@App/admin/adminSidebar.html.twig') }}
{% elseif is_granted('ROLE_USER') %}
    {{ include('@App/user/userSidebar.html.twig') }}
{% endif %}
</div>
