{% extends '@App/base.html.twig' %}

{% block title %}NBA Play-Off{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{ include('@App/main/partial/dailyLeaders.html.twig') }}
        </div>
        <div class="col-md-6">
            {{ include('@App/main/partial/games.html.twig') }}
        </div>
    </div>
{% endblock %}