{% extends '@App/base.html.twig' %}

{% block title %}NBA Play-Off{% endblock %}

{% block body %}
    <h3>
        {{ league.name }}
        {% if league.isPrivate %}
            (private)
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path('league_edit', {'id': league.id}) }}">Edit</a>
        {% endif %}
    </h3>
    <strong>Players:</strong>
    {% if players %}
        <ol>
            {% for player in players %}
                <li>{{ player.username|capitalize }}</li>
            {% endfor %}
        </ol>
    {% else %}
        No active players yet!
    {% endif %}
{% endblock %}