{% extends '@App/base.html.twig' %}

{% block title %}NBA Play-Off{% endblock %}

{% block body %}
    <a href="{{ path('league_new') }}">Create new</a>
    {% if leagues %}
        <h3>Your leagues:</h3>
        <ol>
        {% for league in leagues %}
            <li><a href="{{ path('league_show', {'id': league.id}) }}">{{ league.name }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        You do not have any leagues!
    {% endif %}
{% endblock %}