<span class="sidebar-section-title">Manage:</span>
<a href="{{ path('league_list') }}" class="list-group-item">Leagues</a>
<a href="{{ path('team_list') }}" class="list-group-item">Teams</a>
<a href="{{ path('match_list') }}" class="list-group-item">Matches</a>
<li><a href="#">Stats</a></li>