<span class="sidebar-section-title">Manage:</span>
<li class="active"><a href="{{ path('league_list') }}">Leagues</a></li>
<li><a href="#">admin</a></li>
<li><a href="#">admin</a></li>
<li><a href="#">admin</a></li>