.navbar-inverse {
    background-color: #7FDBFF;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

img.center {
    text-align: center;
}

button.blue {
    background-color: blue;
}

.jumbotron {
    background-color: #eee;
}