.container {
    max-width: 1000px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

body {
    padding-top: 20px;
}

.top-box {
    height: 75px;
}

.top-box-middle-menu {
    padding-top: 27px;
}

.top-box-right-menu {
    padding-top: 21px;
}

.top-box-right-buttons {
    margin-left: 20px;
    padding-top: 21px;
}

.form-group-top {
    margin-bottom: 5px;
}

.remember_me {
    margin-right: 41px;
}

