# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
    app.provider.active_leagues:
        class: AppBundle\Service\ActiveLeaguesProvider
        arguments:
            - '@security.token_storage'
            - '@repository.league_has_user'

    app.provider.player_league_picks:
        class: AppBundle\Service\PlayerLeaguePicksProvider
        arguments:
            - '@security.token_storage'
            - '@app.provider.active_leagues'
            - '@repository.pick'

    app.provider.next_match:
        class: AppBundle\Service\NextMatchProvider
        arguments:
            - '@repository.match'

    app.provider.stats:
        class: AppBundle\Service\StatsProvider

    app.helper.file:
        class: AppBundle\Service\FileHelper
